@using Sandbox;
@using Sandbox.UI;
@using Sandbox.Services.Players;
@using System;
@inherits PanelComponent
@namespace Sandbox

<root>
    <div class="background">
        <div class="upper-container">
            <div class="game-info">
                <label class="game-title">Terry Bomber</label>
            </div>
            @if (!Networking.IsHost)
            {
                <div class="waiting-label">
                    <h1>Waiting for Host to Start...</h1>
                </div>
            }
            else 
            {
                <div class="game-settings">
                    <div class="game-mode-container">
                        <label>Game Mode:</label>
                        <div class="game-mode-selector">
                            <button class="arrow left" onclick=@(() => PrevGameMode())>&lt;</button>
                            <span class="game-mode-label">@GameManager.SelectedGameMode.ToString()</span>
                            <button class="arrow right" onclick=@(() => NextGameMode())>&gt;</button>
                        </div>
                    </div>
                </div>
            <button class="start-button" @onclick=@(() => CheckGameStart())>
                <h1>Start Game</h1>
            </button>
            }
        </div>
        <div class="lower-container">
            <div class="players">
                @for (int i = 0; i < 4; i++)
                {
                    var hasPlayer = i < GameNetworkManager.PlayerSlots.Count;
                    var slot = hasPlayer ? GameNetworkManager.PlayerSlots[i] : new GameNetworkManager.PlayerSlot();

                    <div class="player-container">
                        <div class="player-container-left">
                            @if (hasPlayer && !Connection.All[i].IsConnecting)
                            {
                                StateHasChanged();
                            }
                            <h1 class="player-name">
                                @( !hasPlayer ? "Waiting..." : (i < Connection.All.Count && Connection.All[i].IsConnecting) ? "Connecting..." : slot.DisplayName )
                            </h1>


                            @if (hasPlayer && Networking.IsHost && !slot.IsHost)
                            {
                                <Button class="player-kick-btn" onclick="@(() => GameNetworkManager.KickPlayer(slot.SteamId))">Kick</Button>
                            }
                        </div>

                        @if (hasPlayer && slot.IsHost)
                        {
                            <Image src="/ui/icons/host_icon.png" class="host-icon" />
                        }

                        <div class="player-avatar" style="background-image: url('@(hasPlayer && !Connection.All[i].IsConnecting ? slot.AvatarUrl : "/ui/icons/default_avatar.png")');">
                        @if (!hasPlayer)
                        {
                            <h1>?</h1>
                        }
                    </div>
                </div>
                                }

                <Button class="leave-btn" onclick="@(() => DisconnectClient())">Leave Game</Button>
            </div>


			
        </div>
    </div>
</root>

@code
{
    [Property] private bool RequireMorePlayersToStart { get; set; } = true;
    protected override void OnStart()
    {
        GameNetworkManager.PlayerSlots.OnChanged += OnPlayerSlotsChanged;
    }
    protected override void OnDestroy()
    {
        // Always unsubscribe
        GameNetworkManager.PlayerSlots.OnChanged -= OnPlayerSlotsChanged;
    }

    private void OnPlayerSlotsChanged( NetListChangeEvent<GameNetworkManager.PlayerSlot> change)
    {
        StateHasChanged();
    }

    protected override void OnUpdate()
    {
        if (GameManager.StartGame)
        {
            GameObject.Destroy();
        }
    }

    private void DisconnectClient()
    {
        if (Network.IsProxy) return;
        Game.Disconnect();
    }

    private void CheckGameStart()
    {
        if (!Networking.IsHost) return;
        if (GameNetworkManager.PlayerSlots.Count < 2 && RequireMorePlayersToStart)
        {
            ErrorLogComponent.SetMessage("Not enough players to start the game.", ErrorLogComponent.LogType.Warning);
            return;
        }
        foreach (var conn in Connection.All)
        {
            if (conn.IsConnecting)
            {
                ErrorLogComponent.SetMessage("Some players are still connecting.", ErrorLogComponent.LogType.Warning);
            }
        }
        GameManager.StartGame = true;
    }



    private GameManager.GameMode[] gameModes =
        (GameManager.GameMode[])Enum.GetValues(typeof(GameManager.GameMode));

    private void NextGameMode()
    {
        var currentIndex = Array.IndexOf(gameModes, GameManager.SelectedGameMode);
        currentIndex = (currentIndex + 1) % gameModes.Length;
        GameManager.SelectedGameMode = gameModes[currentIndex];
    }

    private void PrevGameMode()
    {
        var currentIndex = Array.IndexOf(gameModes, GameManager.SelectedGameMode);
        currentIndex = (currentIndex - 1 + gameModes.Length) % gameModes.Length;
        GameManager.SelectedGameMode = gameModes[currentIndex];
        Log.Info("Called");
    }
}
